# Запуск workflow при пуше в ветку master
on:
  push:
    branches: [master] # Основная ветка репозитория

jobs:
  build:
    # Build также выполняется на всех ОС из матрицы
    runs-on: ${{ matrix.os }}

    strategy:
      # Матрица окружений для сборки
      matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]
          node: [22.20.0]

    steps:
      # Клонирование репозитория
      - name: Checkout repo
        uses: actions/checkout@v4

      # Установка Node.js
      - name: Setup Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      # Установка зависимостей
      - name: Install dependencies
        run: npm ci

      # Сборка TypeScript в JavaScript
      - name: Build project
        run: npm run build

  test:
    # Модульное тестирование выполняется только после успешной сборки проекта
    needs: build
    # Запуск модульных тестов на всех ОС из матрицы
    runs-on: ${{ matrix.os }}

    strategy:
      # Матрица для тестирования: 3 ОС и версия Node.js
      matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]
          node: [22.20.0]

    steps:
      # Клонирование репозитория
      - name: Checkout repo
        uses: actions/checkout@v4

      # Установка Node.js версии из матрицы
      - name: Setup Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      # Установка зависимостей через npm ci
      - name: Install dependencies
        run: npm ci

      # Запуск модульных тестов
      - name: Run tests
        run: npm run test

  deploy:
    # Деплой выполняется только после успешного выполнения модульных тестов
    needs: test
    # Выполняется на self-hosted машине (то есть на собственном раннере)
    runs-on: self-hosted

    steps:
      # Получение свежей версии кода
      - name: Checkout repo
        uses: actions/checkout@v4

      # Остановка предыдущего запущенного контейнера
      - name: Clear previous start
        run: docker compose down

      # Запуск нового контейнера с пересборкой образа
      - name: Start service
        run: docker compose up -d --build
